*{
    margin: 0px;
    padding: 0px;
    width: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonte-menu: "Roboto Slab", serif;
    --fonte-menu2: "Poppins", sans-serif;
}

header {
    background-color: #882121;
    height: 70px;

}

div {
    display: inline-block;
}

.logo {
    width: auto;
    height: 66px;
    margin-left: 150px;
    
}

.nav-posic {
    display: block;
}

.menu {
    font-family: var(--fonte-menu2);
    margin-top: 8px;
    margin-right: 150px;
    text-align: right;
}

.menu a {
    text-decoration: none;
    margin-left: 30px;
    color: #ffffff;
}

.menu a:hover {
    color: #b3b3b3;
}
.banner {
    background-color: rgb(46, 83, 83);
    background-image: url('img/um-hamburguer-com-a-imagem-da-palavra-hamburgue2.jpg');
    width: auto;
    height: 450px;
}


.banner img {
    width: 100%;
    height: 450px;
}

.sac {
    background-color: #2F2F2F;
    width: auto;
    height: 120px;
    text-align: center
}

.butt-pisic {
    background-color: #882121;
    border-radius: 10px;
    margin-top: 30px;
    width: 259px;
    height: 60px;
}

.butt-pisic p {
    font-family: var(--fonte-menu2);
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 22px;
}