.footer-indereco {
    background-color: var(--cor-bg-sac);
    justify-content: space-between;
}

.ind-und {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    font-family: var(--fonte-menu2);
    color: white;

    height: 300px;
    margin-left: 50px;
}

.redes-socias {
    display: flex;
    gap: 20px;

    margin-right: 50px;
    margin-left: 20px;
    font-size: 30px;
    text-decoration: none;

    width: 100px;
    height: 50px;
}

.social-icon-facebook {
    color: white;
    font-size: 30px;
}

.social-icon-instagram{
    color: white;
}

.social-icon-whatsapp {
    color: white;
}

.direitos {
    color: white;
    text-align: center;
}