

@media(max-width:955px){
    .conteudo{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* .conteiner-foto{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
    } */
}

@media(max-width:955px){
    .foto-burge  {
        border-color: 5px solid #eb1d1d;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
    }
    
}