

@media(max-width:955px){
    .conteudo{
        display: flex;
        
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* .conteiner-foto{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
    } */
}

@media(max-width:955px){
    .conteiner-foto  {
        background-color: #eb1d1d;
        min-height: 2000px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 50px;
    }
    
}