

@media(max-width:955px){
    .logo{
        margin-left: 50px;
    } 

    .menu{
        margin-right: 20px;
    }
    .conteudo{
        display: flex;
        
        flex-direction: column;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .butt-sac-bg {
        
        width: 220px;
        height: 40px;
    }

    
}

@media(max-width:955px){
    .conteiner-foto  {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    
}